
<div class="py-3 py-md-5 mt-4 ">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-5 mt-3">
              <div class="bg-white border">
                  <img src="{{ products.imageUrl }}" class="w-100" alt="Img">
              </div>
          </div>
          <div class="col-md-7 mt-3">
              <div class="product-view">
                  <h4 class="product-name">
                      {{products.name}}
                      <label class="label-stock bg-success" *ngIf="products.active">In Stock</label>
                      <label class="label-stock bg-warning" *ngIf="!products.active">Out Of Stock</label>
                  </h4>
                  <hr>

                  <div>
                      <span class="selling-price">{{products.unitPrice | currency:'USR'}}</span>
                      <span class="original-price">{{80-products.unitPrice  |currency:'USR'}}</span>
                  </div>
                  <div class="mt-2">
                      <div class="input-group">
                          <span class="btn btn1" (click)="onMinus()"><i class="fa fa-minus" ></i></span>
                          <input type="text" [value]="quantity" class="input-quantity" />
                          <span class="btn btn1" (click)="onPlus()"><i class="fa fa-plus" ></i></span>
                      </div>
                  </div>
                  <div class="mt-2">
                      <button class="btn btn1" (click)="addToCart()"> <i class="fa fa-shopping-cart" ></i> Add To Cart</button>
                      <a href="" class="btn btn1"> <i class="fa fa-heart"></i> Add To Wishlist </a>
                  </div>
                  <div class="mt-3">
                      <h5 class="mb-0">Small Description</h5>
                      <p>
                          {{products.description}}
                      </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12 mt-3 mx-2">

                 <a routerLink="/product">Back to Product List</a>

          </div>
      </div>
  </div>
</div>







